<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Cart</title>
  <meta name="title" content="Shoppie - Man summer collection">
  <meta name="description" content="This is an eCommerce html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./images/favicon.svg" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./fonts/font.css">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/cart.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./images/hero-banner.png">
  <style>
        body {
            position: relative;
            height: 200vh; /* Increased height to allow scrolling */
            width: 100%;
            margin: 0;
            background-color: #f9f9f9;
            overflow-x: hidden;
        }
        #overlayCanvas {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            pointer-events: none; /* Allows interaction with elements below */
        }
        .buttons {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 10px;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <br><br><br><br>
    <% if(cartItemsCount == 0){%>
      <h1 class="mtcart">Cart is empty</h1>
      <% } %>
    <% for(var j=0; j<parseInt((cartItemsCount/3)); j++) {%>
        <ul class="product-list has-scrollbar">
            <% for(var i=j*3; i<((j*3) + 3); i++) {%>
              <li class="scrollbar-item">
                <div class="product-card text-center">

                  <div class="card-banner">

                    <figure class="product-banner img-holder cartimg" style="--width: 448; --height: 470;">
                      <img src="<%- cartItemsObjects[i].image %>" width="448" height="470" loading="lazy"
                        alt="Short Sleeve Shirt" class="img-cover">
                    </figure>


                  </div>

                  <div class="card-content">

                    <h3 class="h4 title">
                      <a href="#" class="card-title"><%= cartItemsObjects[i].name%></a>
                    </h3>

                    <span class="price"><%= cartItemsObjects[i].price%></span>
                    <a href="/removeItem/<%- cartItemsObjects[i].id  %>/"><span class="remove">Remove item</span></a>
                  </div>

                </div>
              </li>

            <% } %>
        </ul>
      <% } %>
      <ul class="product-list has-scrollbar">
      <% for(var l = remainingCartItems ; l<(cartItemsCount); l++) {%>
            
              <li class="scrollbar-item">
                <div class="product-card text-center">

                  <div class="card-banner">

                    <figure class="product-banner img-holder" style="--width: 448; --height: 470;">
                      <img src="<%- cartItemsObjects[l].image %>" width="448" height="470" loading="lazy"
                        alt="Short Sleeve Shirt" class="img-cover">
                    </figure>
                  </div>

                  <div class="card-content">

                    <h3 class="h4 title">
                      <a href="#" class="card-title"><%= cartItemsObjects[l].name%></a>
                    </h3>

                    <span class="price"><%= cartItemsObjects[l].price%></span>
                     <a href="/removeItem/<%- cartItemsObjects[l].id  %>/?_method=DELETE" method = "POST"><span class="remove">Remove item</span></a>

                  </div>

                </div>
              </li>
          
      <% } %>
      </ul>


    <%- include('partials/footer')  %>